.app__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    width: 100%;
    padding: 1rem 4rem;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    @media screen and (max-width: 900px) {
        padding: 1rem 2rem;
    }
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        text-transform: uppercase;
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        transition: 0.3s all ease-in-out;

        div {
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            margin: 0 auto 5px;

            transition: 0.3s all ease-in-out;

        }
        &:hover div {
            background: var(--primary-color);
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);

    svg {
        width: 70%;
        height: 70%;
        color: var(--black-color);
        cursor: pointer;
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
    
        padding: 1rem;

        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background: url('../../assets/app_bg_2.png');
        background-color: var(--white-color);
        background-size: cover;
        background-repeat: repeat;

        box-shadow: 0 0 20px rgba(168,168,168,0.15);

        svg {
            width: 35px;
            height: 35px;
            color: var(--primary-color);
            margin: 0.5rem 1rem;
            cursor: pointer;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--gray-color);
                    text-decoration: none;
                    flex-direction: column;
        
                    text-transform: uppercase;
                    font-weight: 500;
        
                    transition: all 0.3s ease-in-out;
        
                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}